/* =============================
   Header 
============================= */
.header {
  background: var(--rich-black-fogra-29);
  border-bottom: 1px solid var(--cyan-agua);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active {
  box-shadow: 0 2px 15px var(--maximum-blue-green_10);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 5px;
}

.header .logo img {
  width: clamp(120px, 10vw, 160px);
  margin-left: 1rem;
}
.nav-open-btn {
  font-size: 30px;
  background: var(--cyan-agua);
  color: var(--white);
  padding: 6px;
}

.nav-open-btn:is(:hover, :focus) {
  background: var(--salmon);
}

.nav-open-btn ion-icon {
  --ionicon-stroke-width: 40px;
}

.navbar {
  background: var(--black_90);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-right: 3px solid var(--cyan-agua);
  font-family: var(--ff-roboto);
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 2;
}

.navbar.active {
  visibility: visible;
  transform: translateX(280px);
  transition: 0.5s var(--cubic-in);
}

.nav-close-btn {
  color: var(--rich-black-fogra-29);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  font-size: 25px;
  transition: var(--transition-1);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 55px;
}

.nav-close-btn:is(:hover, :focus) {
  color: var(--cyan-agua);
}

.navbar .logo {
  background: var(--maximum-blue-green_10);
  padding-block: 30px 40px;
}

.navbar .logo img {
  margin-inline: auto;
}

.navbar-list,
.nav-action-list {
  margin: 30px;
}

.navbar-list {
  padding: 20px;
  border-bottom: 1px solid var(--cyan-agua);
}

.navbar-link {
  color: var(--white);
  padding-block: 8px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  color: var(--cyan-agua);
}

.navbar-item:not(:last-child) {
  border-bottom: 1px solid var(--gainsboro);
}

.nav-action-list > li:first-child {
  display: none;
}

.nav-action-btn {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 10px;
  transition: var(--transition-1);
}

.nav-action-btn:is(:hover, :focus) {
  color: var(--cyan-agua);
}

.nav-action-btn ion-icon {
  font-size: 22px;
  --ionicon-stroke-width: 25px;
}

.nav-action-text strong {
  font-weight: initial;
  color: var(--cyan-agua);
}

.nav-action-badge {
  margin-left: auto;
  font-size: var(--fs-7);
  background: var(--cyan-agua);
  color: var(--white);
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.cart-count {
  display: none;
  font-size: var(--fs-7);
  width: 18px;
  height: 18px;
  background: var(--cyan-agua);
  color: var(--white);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.cart-count.visible {
  display: grid;
}
